@charset "utf-8";

:root {
	--tangerine: #F27F0C;
	--buttercup: #F7C45E; /* original f7ad19 */
	--teal-blue: #053F5C;
	--pelorous: #A9D5EF; /*original 429edb */
	--sky-blue: #9FE7F5;
}

body {
    font-family: 'Cambria', serif;
    color: var(--buttercup);
    background-color: var(--teal-blue);
    max-width: 1080px;
    min-width: 240px;
    margin-left: 15%;
}

h1, h3, h4 {
	font-family: 'Eras Bold ITC', sans-serif;
	color: var(--tangerine);
}

a {
    color: var(--sky-blue);
}

a:hover {
	color:var(--teal-blue);
	background-color: var(--pelorous);
}

nav {
	display: flex;
	text-align: center;
}

nav a {
	align-content: center;
	text-decoration: none;
	height: 2em;
	width: 100%;
	padding-top: 12px;
	border-top: 2px solid var(--tangerine);
}


div img {
    height: 250px;
}

/* input forms */
form * {
    display: inline-block;
}

label,
input {
    margin: 15px auto;
}

label {
    width: 150px;
}

/* view cars table */
#grid {
    min-width: 60%;
    max-width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

#grid th,
#grid td {
    width: 25%;
    font-size: 1em;
    border: 1px solid var(--tangerine);
    padding: 10px 5px;
}

#grid th {
    font-size: 1.1em;
    text-align: left;
    padding: 5px 0;
    background-color: var(--tangerine);
    color: gray;
}

#grid .odd{
    color: var(--teal-blue);
    background-color: gray;
}

#grid .even {
    color: var(--teal-blue);
    background-color: var(--buttercup);
}
